body{
    background-color: black;
    color: aliceblue;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.conteudo{
    margin: 0 auto;
    width: 100%;
    max-width:450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #090909;
    padding: 55px;
    border-radius: 4px;
}

.topo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.topo input{
    width: 350px;
    padding: 15px;
    border-radius: 4px;
    border-style: none;
    outline: none;
    font-size: 1.2rem;
    background: #050505;
    color: aliceblue;
}

.topo button{
    width: 45px;
    border-radius: 4px;
    border: solid 1px black;
    background: #050505;
    color: aliceblue;
    cursor: pointer;
}

.topo button:hover{
    background: #090909;

}

#listaTarefa{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listaTarefa li{
    padding: 20px;
    background-color: #050505;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.btnAcao{
    border-radius: 4px;
    border: solid 1px black;
    width: 38px;
    height: 38px;
    margin-left:8px ;
    cursor: pointer;
    background: #090909;
    color: aliceblue;
}

.btnAcao:hover{
    background: #050505;
}